
<footer class="bg-darkblack">
  <div class="container pt-65px">
    <!-- footer top or subscription -->
    <div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-y-5 md:gap-y-0 items-center pb-45px border-b border-darkcolor"
      >
        <div data-aos="fade-up">
          <a href="#"
          ><img src="./assets/images/logo/logo_2.png" alt=""
          ></a>
        </div>
        <div>
          <form
            class="max-w-form-xl md:max-w-form-md lg:max-w-form-lg xl:max-w-form-xl 2xl:max-w-form-2xl bg-deepgray ml-auto rounded relative"
            data-aos="fade-up"
          >
            <input
              type="email"
              placeholder="Ingrese su email"
              class="text-whiteColor h-62px pl-15px focus:outline-none border border-deepgray focus:border-whitegrey bg-transparent rounded w-full"
            >
            <button
              type="submit"
              class="px-3 md:px-10px lg:px-5 bg-primaryColor hover:bg-deepgray text-xs lg:text-size-15 text-whiteColor border border-primaryColor block rounded absolute right-0 top-0 h-full"
            >
              Suscribirse
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- footer copyright  -->
    <div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-5 py-5 lg:py-10 items-center border-t border-darkcolor"
      >
        <div>
          <p class="text-base text-darkgray">
            © 2025 Diseñado por Dani Fernández - Todos los derechos reservados.
          </p>
        </div>


      </div>
    </div>
  </div>
</footer>
