

<section>
  <div class="container-fluid-2 shop tab py-100px">
    <!-- shop header -->
    <div
      class="courses-header flex justify-between items-center flex-wrap px-30px py-9px bg-darkdeep3 dark:bg-darkdeep3-dark mb-50px gap-y-5"
      data-aos="fade-up"
    >
      <div
        class="tab-links transition-all duraton-300 text-blackColor dark:text-blackColor-dark flex gap-11px"
      >
        <button class="inline-block hover:text-primaryColor">
          <svg
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 5.5 12.5"
            class="w-5 h-5"
          >
            <defs></defs>
            <defs></defs>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <g data-name="shop page">
                  <g id="Group-10">
                    <path
                      d="M.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 01.75 0z"
                      class="cls-1"
                    ></path>
                    <path
                      d="M4.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 014.75 0z"
                      class="cls-1"
                      data-name="Rectangle"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
        <button class="inline-block hover:text-primaryColor active">
          <svg
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 9.5 12.5"
            class="w-5 h-5"
          >
            <defs></defs>
            <defs>
              <style>
                .cls-1 {
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <g data-name="shop page">
                  <g id="Group-16">
                    <path
                      d="M.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 01.75 0z"
                      class="cls-1"
                    ></path>
                    <path
                      d="M4.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 014.75 0z"
                      class="cls-1"
                      data-name="Rectangle"
                    ></path>
                    <path
                      d="M8.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 018.75 0z"
                      class="cls-1"
                      data-name="Rectangle"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
        <button class="inline-block hover:text-primaryColor">
          <svg
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 13.5 12.5"
            class="w-5 h-5"
          >
            <defs></defs>
            <defs>
              <style>
                .cls-1 {
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <g data-name="Layer 2">
              <g data-name="Layer 1">
                <g data-name="shop page">
                  <g id="_4_col" data-name="4_col">
                    <path
                      d="M.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 01.75 0z"
                      class="cls-1"
                    ></path>
                    <path
                      d="M4.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 014.75 0z"
                      class="cls-1"
                      data-name="Rectangle"
                    ></path>
                    <path
                      d="M8.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11A.76.76 0 018.75 0z"
                      class="cls-1"
                      data-name="Rectangle"
                    ></path>
                    <path
                      id="Rectangle-4"
                      d="M12.75 0a.76.76 0 01.75.75v11a.76.76 0 01-.75.75.76.76 0 01-.75-.75v-11a.76.76 0 01.75-.75z"
                      class="cls-1"
                      data-name="Rectangle"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </button>
      </div>

      <div class="flex items-center flex-wrap">
        <div class="mr-50px">
          <label class="text-blackColor dark:text-blackColor-dark mr-6px"
          >Sort by :</label
          >
          <select


            class="text-blackColor dark:text-blackColor-dark p-10px w-185px rounded-md bg-transparent box-border"
          >
            <option
              class="dark:text-blackColor"
              value="Featured"
              selected
            >
              Featured
            </option>
            <option class="dark:text-blackColor" value="best-selling">
              Best Selling
            </option>
            <option class="dark:text-blackColor" value="title-ascending">
              Alphabetically, A-Z
            </option>
            <option class="dark:text-blackColor" value="title-descending">
              Alphabetically, Z-A
            </option>
            <option class="dark:text-blackColor" value="price-ascending">
              Price, low to high
            </option>
            <option class="dark:text-blackColor" value="price-descending">
              Price, high to low
            </option>
            <option
              class="dark:text-blackColor"
              value="created-descending"
            >
              Date, new to old
            </option>
            <option
              class="dark:text-blackColor"
              value="created-ascending"
            >
              Date, old to new
            </option>
          </select>
        </div>
        <div>
          <p class="text-blackColor dark:text-blackColor-dark">
            Showing 1 - 12 of 33 result
          </p>
        </div>
      </div>
    </div>
    <!-- books -->
    <div class="grid grid-cols-1 xl:grid-cols-12 gap-x-30px">
      <!-- shop left -->
      <div class="xl:col-start-1 xl:col-span-3">
        <div
          class="mb-35px flex justify-between items-center"
          data-aos="fade-up"
        >
          <h4
            class="text-size-22 leading-1.2 font-bold text-blackColor dark:text-blackColor-dark"
          >
            Filtros:
          </h4>
          <a
            href="#"
            class="text-contentColor dark:text-contentColor-dark leading-1.2 border-b border-blackColor dark:border-blackColor-dark"
          >Limpiar Filtros</a
          >
        </div>
        <!-- accordion filters -->
        <div
          class="gap-y-50px flex flex-col mb-50px text-blackColor dark:text-blackColor-dark leading-1.8"
        >
          <input type="text" placeholder="Buscar Por Producto" class="text-red dark:text-white h-62px pl-15px focus:outline-none border border-deepgray focus:border-whitegrey bg-transparent rounded w-full">
          <!-- CATEGORIA -->
          <ul class="accordion-container" data-aos="fade-up">
            <li
              class="accordion active shadow-accordion2 dark:shadow-accordion-dark p-5"
            >
              <div class="accordion-controller cursor-pointer block w-full">
                <div class="flex items-center">
                  <p
                    class="w-0 h-0 border-x-9 border-y-5px border-transparent border-l-blackColor dark:border-l-blackColor-dark inline-block translate-x-1"
                  ></p>

                  <p class="ml-0.5">Categorías</p>
                </div>
              </div>
              <div class="accordion-content overflow-hidden">
                <div class="content-wrapper pt-10px">
                  <ul class="flex flex-col gap-y-10px">
                    <app-categories></app-categories>

                  </ul>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <!-- shop right -->
      <div class="modal-container xl:col-start-4 xl:col-span-9">
        <div class="tab-contents">
          <!-- 3 cards -->
          <div class="transition-all duration-300">
            <div
              class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 -mx-15px"
            >
              <!-- card 1 -->
              @for (producto of productos(); track producto.id) {


                <div data-aos="fade-up">
                  <div class="group tab-content-wrapper sm:px-15px mb-30px">
                    <div
                      class="p-15px bg-whiteColor shadow-brand dark:bg-darkdeep3-dark dark:shadow-brand-dark"
                    >
                      <!-- card image -->
                      <div class="relative">
                        <a
                          href="#"
                          class="w-full overflow-hidden"
                        >
                          <img
                            src="{{producto.images[0]}}"
                            alt="{{ producto.title }}"
                            class="w-full transition-all duration-300 group-hover:scale-110"
                          >
                        </a>

                        <div
                          class="absolute bottom-0 left-0 right-0 transition-all duration-300 opacity-0 invisible group-hover:visible group-hover:opacity-100 group-hover:bottom-5"
                        >
                          <ul
                            class="flex gap-[6px] justify-center items-center"
                          >

                            <li
                              class="h-46px tooltip"
                              data-tip="Add to Cart"
                            >
                              <button
                                class="text-sm h-full leading-46px px-4 box-content text-contentColor bg-whiteColor hover:bg-primaryColor hover:text-whiteColor dark:text-contentColor-dark dark:bg-whiteColor-dark dark:hover:text-whiteColor dark:hover:bg-primaryColor transition-all duration-300 rounded"
                              >
                                Agregar al carrito
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- card content -->
                      <div>
                        <a
                          href="product-details.html"
                          class="text-xl md:text-size-22 font-medium text-blackColor mb-10px mt-5 font-hind dark:text-blackColor-dark hover:text-primaryColor dark:hover:text-primaryColor"
                        >
                          {{ producto.title }}
                        </a>
                        <!-- price -->
                        <div
                          class="text-2xl font-semibold text-primaryColor font-inter mb-4"
                        >
                          ${{ producto.price }}
                          <del
                            class="text-base text-lightGrey4 font-semibold"
                          >/${{ (producto.price * 0.18) + producto.price}}</del
                          >
                        </div>
                        <!--  rating-->
                        <div
                          class="grid grid-cols-1 md:grid-cols-2 pt-15px border-t border-borderColor"
                        >
                          <div>
                            <a
                              href="../dashboards/instructor-details.html"
                              class="text-base text-contentColor hover:text-primaryColor dark:text-contentColor-dark dark:hover:text-primaryColor"
                            >{{ producto.category.name }}</a
                            >
                          </div>
                          <div class="text-start md:text-end">
                            <i
                              class="icofont-star text-size-15 text-yellow"
                            ></i>
                            <i
                              class="icofont-star text-size-15 text-yellow"
                            ></i>
                            <i
                              class="icofont-star text-size-15 text-yellow"
                            ></i>
                            <i
                              class="icofont-star text-size-15 text-yellow"
                            ></i>
                            <i
                              class="icofont-star text-size-15 text-yellow"
                            ></i>
                            <span class="text-xs text-lightGrey6"
                            >{{ precioAleatorio }}</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>

        </div>

        <!-- pagination -->
        <div data-aos="fade-up">
          <ul
            class="flex items-center justify-center gap-15px mt-60px mb-30px"
          >
            <li>
              <a
                href="#"
                class="w-10 h-10 leading-10 md:w-50px md:h-50px md:leading-50px text-center text-blackColor2 hover:text-whiteColor bg-whitegrey1 hover:bg-primaryColor dark:text-blackColor2-dark dark:hover:text-whiteColor dark:bg-whitegrey1-dark dark:hover:bg-primaryColor cursor-not-allowed"
              ><i class="icofont-double-left"></i
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="w-10 h-10 leading-10 md:w-50px md:h-50px md:leading-50px text-center text-whiteColor hover:text-whiteColor bg-primaryColor hover:bg-primaryColor dark:text-blackColor2-dark dark:hover:text-whiteColor dark:bg-primaryColor dark:hover:bg-primaryColor"
              >1</a
              >
            </li>
            <li>
              <a
                href="#"
                class="w-10 h-10 leading-10 md:w-50px md:h-50px md:leading-50px text-center text-blackColor2 hover:text-whiteColor bg-whitegrey1 hover:bg-primaryColor dark:text-blackColor2-dark dark:hover:text-whiteColor dark:bg-whitegrey1-dark dark:hover:bg-primaryColor"
              >2</a
              >
            </li>
            <li>
              <a
                href="#"
                class="w-10 h-10 leading-10 md:w-50px md:h-50px md:leading-50px text-center text-blackColor2 hover:text-whiteColor bg-whitegrey1 hover:bg-primaryColor dark:text-blackColor2-dark dark:hover:text-whiteColor dark:bg-whitegrey1-dark dark:hover:bg-primaryColor"
              >3</a
              >
            </li>
            <li>
              <a
                href="#"
                class="w-10 h-10 leading-10 md:w-50px md:h-50px md:leading-50px text-center text-blackColor2 hover:text-whiteColor bg-whitegrey1 hover:bg-primaryColor dark:text-blackColor2-dark dark:hover:text-whiteColor dark:bg-whitegrey1-dark dark:hover:bg-primaryColor"
              ><i class="icofont-double-right"></i
              ></a>
            </li>
          </ul>
        </div>

